{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/control.js') }}"></script>
{% endblock %}
{% block stuff %}
	<div id="stuff">
	<div id="spectra" class="plot"></div>
	</div>
{% endblock stuff %}
{% block welcome %}{% endblock welcome %}
{% block navmenu %}{% endblock navmenu %}
{% block funcmenu %}
<nav>
	<ul class='cf'>
		<li><a href='#'>Observe</a>
			<ul>
				<li onclick="openUniquePopup('coords');"><a href='#'>Go to coordinates...</a>
				</li>
				<li onclick="requestOffset();"><a href="#">Offset</a>
				</li>
			</ul>
		</li>
		<li><a href='#'>Calibration</a></li>
		<li><a href='#'>Settings</a>
			<ul>
				<li onclick="openUniquePopup('freq');"><a href='#'>Frequency...</a>
				</li>
			</ul>
		</li>
		<li onclick="if(confirm('Are you sure you want to go STOW?')){execCommand('stow');console.log('hola');}" class='last'><a href='#'>Stow</a></li>
	</ul>
</nav>
{% endblock funcmenu %}

{% block status %}
<div id="statusset">
	<div class="status">
		<h3>General Info</h3>
		<table class="statustable">
			<tr>
				<td id="HTMLslewing"></td>
				<td>Slewing</td>
			</tr>
			<tr>
				<td id="HTMLtracking"></td>
				<td>Tracking</td>
			</tr>
			<tr>
				<td id="HTMLtargetmode"></td>
				<td>Target Mode</td>
			</tr>
			<tr>
				<td id="HTMLtarget"></td>
				<td>Target</td>
			</tr>
		</table>
	</div>
	<div class="status">
		<h3>Coordinates</h3>
		<table class="statustable">
			<tr>
				<td class="tdicon"><img src="{{ url_for('static', filename='res/icons/azcoords.png') }}"></td>
				<td>AZ EL</td>
				<td id="HTMLaz"></td>
				<td id="HTMLel"></td>
			</tr>
			<tr>
				<td class="tdicon"><img src="{{ url_for('static', filename='res/icons/azcoords.png') }}"></td>
				<td>AZ EL now</td>
				<td id="HTMLaznow"></td>
				<td id="HTMLelnow"></td>
			</tr>
			<tr>
				<td class="tdicon"><img src="{{ url_for('static', filename='res/icons/eqcoords.png') }}"></td>
				<td>RA DEC</td>
				<td id="HTMLra"></td>
				<td id="HTMLdec"></td>
			</tr>
			<tr>
				<td class="tdicon"><img src="{{ url_for('static', filename='res/icons/eqcoords.png') }}"></td>
				<td>RA DEC now</td>
				<td id="HTMLranow"></td>
				<td id="HTMLdecnow"></td>
			</tr>
			<tr>
				<td class="tdicon"><img src="{{ url_for('static', filename='res/icons/offsetcoords.png') }}"></td>
				<td>Offset</td>
				<td id="HTMLazoffset"></td>
				<td id="HTMLeloffset"></td>
			</tr>
		</table>
	</div>
	<div class="status">
		<h3>Frequencies</h3>
		<table>
			<tr>
				<td>Start Freq</td>
				<td id="HTMLfreq0"></td>
				<td>MHz</td>
			</tr>
			<tr>
				<td>Freq Sep</td>
				<td id="HTMLfreqsep"></td>
				<td>KHz</td>
			</tr>
			<tr>
				<td>Temperature</td>
				<td id="HTMLtemperature"></td>
				<td>K</td>
			</tr>
		</table>
	</div>
	<div class="status">
		<h3>Time</h3>
		<table>
			<tr>
				<td>UTC</td>
				<td id='HTMLutc'></td>
			</tr>
			<tr>
				<td>LST</td>
				<td id='HTMLlst'></td>
			</tr>
		</table>
	</div>
</div>
{% endblock status %}
